/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Section Container for Image and Heading */
#intro-section {
  display: flex;
  justify-content: space-between; /* Aligns image and text horizontally */
  align-items: center; /* Vertically centers content */
  padding: 20px;
}

/* Heading Styling */
#intro-section h1 {
  text-align: center; /* Centers heading within the section */
  flex: 1; /* Allows heading to take up available space */
}

/* Text Styling Below Heading */
#intro-section p {
  text-align: left; /* Aligns text to the left */
}

/* Pete's Background Section */
#background-section {
  margin-top: 20px; /* Adds space below the intro section */
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
